
<p>Simple datepicker</p>

<ngb-datepicker firstDayOfWeek="7" ngbDatepicker id="datepickeron" (navigate)="date = $event.next"></ngb-datepicker>
<!-- <ngb-datepicker #dp firstDayOfWeek="7" id="datepickeron" (navigate)="date = $event.next"></ngb-datepicker> -->
<!-- <hr/> -->

<!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="datepickeron.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="datepickeron.navigateTo({year: 2013, month: 2})">To Feb 2013</button> -->

<!-- <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
                [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays" ngbDatepicker firstDayOfWeek="7">
                
</ngb-datepicker> -->

<hr/>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="dd-mm-yyy"
             name="dp" #dp firstDayOfWeek="7" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</form>

<hr/>


<router-outlet></router-outlet>